{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Serving Eastern New Mexico" "subtitle" "with dependable, reliable and honest pest control service") }}

{{ partial "short-text" (dict "heading" "Why 4 Season?" "text" "Locally Owned, Veteran Owned, Responsible, Safe for Children and Pests, Residential and Commercial Property, been in business for over 20 years!")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "4 Season Pest Control Alias aut quia ut provident. Unde incidunt ea consequatur totam sed saepe illo eos. Sit aspernatur laborum possimus." "svg1" "img/illustrations/coffee.svg" "text1" "Alias aut quia ut provident. Unde incidunt ea consequatur totam sed saepe illo eos. Sit aspernatur laborum possimus. local communities. Check our post or contact us directly for current availability." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "Alias aut quia ut provident. Unde incidunt ea consequatur totam sed saepe illo eos. Sit aspernatur laborum possimus." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Alias aut quia ut provident. Unde incidunt ea consequatur totam sed saepe illo eos. Sit aspernatur laborum possimus." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "footer" . }}
